<footer class="footer">
  <div class="container">
    <div class='row'>
      <div class="col-md-6">
          <a href="http://www.facebook.com/sharer.php?u=http%3A%2F%2Fmoveit.ros.org%2F&t=Home"><i id="social-fb" class="fa fa-facebook-square fa-3x social"></i></a>
          <a href="http://twitter.com/share?url=http%3A%2F%2Fmoveit.ros.org%2F&text=MoveIt%21"><i id="social-tw" class="fa fa-twitter-square fa-3x social"></i></a>
          <a href="https://plus.google.com/share?url=http%3A%2F%2Fmoveit.ros.org%2F"><i id="social-gp" class="fa fa-google-plus-square fa-3x social"></i></a>
          <a href="http://www.reddit.com/submit?url=http%3A%2F%2Fmoveit.ros.org%2F&title=Home"><i id="social-gp" class="fa fa-reddit-square fa-3x social"></i></a>
          <a href="http://www.linkedin.com/shareArticle?mini=true&url=http%3A%2F%2Fmoveit.ros.org%2F&title=Home"><i id="social-gp" class="fa fa-linkedin-square fa-3x social"></i></a>
      </div>
      <div class='row-md-6'>
        <h5><a href="https://groups.google.com/forum/#!forum/moveit-users/join">Join the MoveIt! users mailing list</a></h5>
      </div>
    </div>
  </div>
</footer>
