<footer class="footer">
  <div class="container">
    <div class='row'>
      <div class="col-xs-12 col-sm-4">
        <img src="/"/>
        <p>Brought to you by PickNik Robotics</p>
        <a class="button" href="/">INSTALL NOW</a>
      </div>
      <div class="col-xs-12 col-sm-4">
        <div class="col-xs-6 col-sm-6">
          <h4>INSTALL</h4>
          <ul>
            <li>
              <a href="/">Source</a>
            </li>
            <li>
              <a href="/">Binary</a>
            </li>
            <li>
              <a href="/">Docker</a>
            </li>
          </ul>
        </div>
        <div class="col-xs-6 col-sm-6">
          <h4>DOCS</h4>
          <ul>
            <li>
              <a href="/">Tutorials</a>
            </li>
            <li>
              <a href="/">Concepts</a>
            </li>
            <li>
              <a href="/">Plugin Interfaces</a>
            </li>
            <li>
              <a href="/">Planners</a>
            </li>
            <li>
              <a href="/">FAQ</a>
            </li>
            <li>
              <a href="/">Code API</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-xs-12 col-sm-4">
        <div class="col-xs-6 col-sm-6">
          <h4>ABOUT</h4>
          <ul>
            <li>
              <a href="/">About MoveIt!</a>
            </li>
            <li>
              <a href="/">Robots</a>
            </li>
            <li>
              <a href="/">Status</a>
            </li>
            <li>
              <a href="/">Source code</a>
            </li>
            <li>
              <a href="/">Press kit</a>
            </li>
          </ul>
        </div>
        <div class="col-xs-6 col-sm-6">
          <h4>SUPPORT</h4>
          <ul>
            <li>
              <a href="/">Support the Movement</a>
            </li>
            <li>
              <a href="/">Contribute</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
