<footer class="footer">
  <div class="container container-footer">
    <div class='row'>
      <div class="col-xs-12 col-sm-4">
        <img class="footer-logo" src="/assets/images/logo/logo@2x.png" />
        <p>Brought to you by PickNik Robotics</p>
        <a class="button" href="/">INSTALL NOW</a>
      </div>
      <div class="col-xs-12 col-sm-4">
        <div class='row'>
          <div class="col-xs-6 col-sm-6">
            <h4>INSTALL</h4>
            <ul>
              <li>
                <a href="/install/source">Source</a>
              </li>
              <li>
                <a href="/install">Binary</a>
              </li>
              <li>
                <a href="/install/docker">Docker</a>
              </li>
            </ul>
          </div>
          <div class="col-xs-6 col-sm-6">
            <h4>DOCS</h4>
            <ul>
              <li>
                <a href="http://docs.ros.org/kinetic/api/moveit_tutorials/html/" target="_blank">Tutorials</a>
              </li>
              <li>
                <a href="/documentation/concepts/">Concepts</a>
              </li>
              <li>
                <a href="/documentation/plugins/">Plugin Interfaces</a>
              </li>
              <li>
                <a href="/documentation/planners/">Planners</a>
              </li>
              <li>
                <a href="/documentation/faqs/">FAQ</a>
              </li>
              <li>
                <a href="/code-api/">Code API</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-4">
        <div class='row'>
          <div class="col-xs-6 col-sm-6">
            <h4>ABOUT</h4>
            <ul>
              <li>
                <a href="/about/">About MoveIt!</a>
              </li>
              <li>
                <a href="/robots/">Robots</a>
              </li>
              <li>
                <a href="/about/moveit-status/">Status</a>
              </li>
              <li>
                <a href="/about/source_code/">Source code</a>
              </li>
              <li>
                <a href="/">Press kit</a>
              </li>
            </ul>
          </div>
          <div class="col-xs-6 col-sm-6">
            <h4>SUPPORT</h4>
            <ul>
              <li>
                <a href="/support/">Support the Movement</a>
              </li>
              <li>
                <a href="/documentation/contributing/">Contribute</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
