<footer class="footer">
  <div class="container container-footer">
    <div class="row">
      <div class="col-xs-12 col-lg-4">
        <a class="footer-logo" href="/">
          <img src="/assets/logo/moveit_logo-white.png" />
        </a>
        <p>
          Brought to you by
          <a href="https://picknik.ai/?utm_source=moveit" target="_blank">PickNik Robotics</a><br />and these <a href="http://moveit.ros.org/about/">awesome maintainers</a><br />
          <a href="https://picknik.ai/donate-to-moveit?utm_source=moveit" target="_blank">Donate today!</a>
        </p>
        <a class="button" target="_blank" href="/about/get_involved/">GET INVOLVED</a>
      </div>
      <div class="col-xs-12 col-lg-8">
        <div class="row">
          <div class="single-footer-navigation">
            <h4>INSTALL</h4>
            <ul>
              <li>
                <a href="/install">MoveIt 1</a>
              </li>
              <li>
                <a href="/install-moveit2/source/">MoveIt 2 Beta</a>
              </li>
            </ul>
          </div>
          <div class="single-footer-navigation">
            <h4>DOCS</h4>
            <ul>
              <li>
                <a target="_blank" href="https://ros-planning.github.io/moveit_tutorials/">Tutorials</a>
              </li>
              <li>
                <a href="/documentation/applications/">Applications</a>
              </li>
              <li>
                <a href="/documentation/concepts/">Concepts</a>
              </li>
              <li>
                <a href="/documentation/related_projects/">Related Projects</a>
              </li>
              <li>
                <a href="/documentation/plugins/">Plugin Interfaces</a>
              </li>
              <li>
                <a href="/documentation/planners/">Planners</a>
              </li>
              <li>
                <a href="/documentation/source-code-api/">Source Code & API</a>
              </li>
            </ul>
          </div>
          <div class="single-footer-navigation">
            <h4>ABOUT</h4>
            <ul>
              <li>
                <a href="/about/">People</a>
              </li>
              <li>
                <a href="/documentation/faqs/">FAQ</a>
              </li>
              <li>
                <a href="/robots/">Robots</a>
              </li>
              <li>
                <a href="/support/">Get Support</a>
              </li>
              <li>
                <a href="/about/press_kit/">Press Kit</a>
              </li>
            </ul>
          </div>
          <div class="single-footer-navigation">
            <h4>CONTRIBUTE</h4>
            <ul>
              <li>
                <a href="/documentation/contributing/">Contributing</a>
              </li>
              <li>
                <a href="/documentation/contributing/roadmap/">Roadmap</a>
              </li>
              <li>
                <a href="/events/world-moveit-day-2018/">World MoveIt Day</a>
              </li>
              <li>
                <a href="/documentation/contributing/pullrequests/">Pull Requests</a>
              </li>
              <li>
                <a href="/documentation/contributing/code/">Code Style</a>
              </li>
            </ul>
          </div>
          <div class="single-footer-navigation">
            <h4>BLOG</h4>
            <ul>
              <li>
                <a href="/blog/">Blog</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-12 footer-last-link">
        <a href="https://github.com/ros-planning/moveit.ros.org">Edit website on <span class="color-blue">Github</span></a>
      </div>
    </div>
  </div>
  <script type="text/javascript" src="https://www.youtube.com/iframe_api"></script>
  <script type="text/javascript" src="/assets/js/main.js"></script>
</footer>
