<div class="alert alert-info alert-dismissible fade show" role="alert">
  <p>Please consider providing some quick feedback on how you plan to use MoveIt to help us obtain government funding for further development and prioritize milestones on our roadmap.</p>
  <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#feedbackform">Submit
    feedback</button>
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>


<div class="modal feedback-modal fade" id="feedbackform" tabindex="-1" role="dialog" aria-labelledby="feedbackformlabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <iframe id="google-feedback-form"
          src="https://docs.google.com/forms/d/e/1FAIpQLScrMFZYi9UJJP8qGd-rcZ4SsrYFSJY57R6sll_dlScezsmQAg/viewform?embedded=true"
          width="700" height="700px" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>
      </div>
    </div>
  </div>
</div>
