<div class="rectangle-boarder-tall col-3 col-sm-3">
    <div class="version-header">
      MoveIt 1.0
    </div>
    <a href="/install/">
      {% if page.url == "/install/" %}
        <div class="row no-gutters">
          <img src="/assets/install_page/current_page_left.png" class="current-page-image-left">
          <img src="/assets/install_page/current_page_right.png" class="current-page-image-right">
          <div class="font-current-page">
      {% else %}
        <div>
          <div class="row font-other-page">
      {% endif %}
            Binary Install
          </div>
        </div>
    </a>
    <a href="/install/source/">
      {% if page.url == "/install/source/" %}
        <div class="row no-gutters">
          <img src="/assets/install_page/current_page_left.png" class="current-page-image-left">
          <img src="/assets/install_page/current_page_right.png" class="current-page-image-right">
          <div class="font-current-page">
      {% else %}
        <div>
          <div class="row font-other-page">
      {% endif %}
            Source Build: Linux
          </div>
        </div>
    </a>
    <a href="/install/source-windows/">
      {% if page.url == "/install/source-windows/" %}
        <div class="row no-gutters">
          <img src="/assets/install_page/current_page_left.png" class="current-page-image-left">
          <img src="/assets/install_page/current_page_right.png" class="current-page-image-right">
          <div class="font-current-page">
      {% else %}
        <div>
          <div class="row font-other-page">
      {% endif %}
            Source Build: Windows
          </div>
        </div>
    </a>
    <a href="/install/docker/">
      {% if page.url == "/install/docker/" %}
        <div class="row no-gutters">
          <img src="/assets/install_page/current_page_left.png" class="current-page-image-left">
          <img src="/assets/install_page/current_page_right.png" class="current-page-image-right">
          <div class="font-current-page">
      {% else %}
        <div>
          <div class="row font-other-page">
      {% endif %}
            Docker Install
          </div>
        </div>
    </a>
    <div class="version-header">
      MoveIt 2.0
    </div>
    <a href="/install-moveit2/source/">
      {% if page.url == "/install-moveit2/source/" %}
        <div class="row no-gutters">
          <img src="/assets/install_page/current_page_left.png" class="current-page-image-left">
          <img src="/assets/install_page/current_page_right.png" class="current-page-image-right">
          <div class="font-current-page">
      {% else %}
        <div>
          <div class="row font-other-page">
      {% endif %}
            Source Build: Linux
          </div>
        </div>
    </a>
</div>
