<div class="header">
  <div class="github">
    <img alt="Github logo" src="/assets/images/github.svg">
  </div>
  <div class="container container-navigation">
    <nav class="navbar navbar-expand-lg navbar-blog">
      <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <a class='navbar-brand' href="/">
          <img alt="Brand" class='brand-logo' src="/assets/images/logo/logo@2x.png">
        </a>
        <ul class="navbar-nav">
          <li class="nav-item">
              <a class="nav-link " href="/blog/">Blog</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="/support/">Support</a>
          </li>
          <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="/about/" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                About
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                  <a class="dropdown-item" href="/about/">About</a>
                  <a class="dropdown-item" href="/about/source_code/">Source Code</a>
                  <a class="dropdown-item" href="/about/moveit-status/">Status</a>
                </div>
            </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="/documentation/" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Docs
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <a class="dropdown-item" href="/documentation/">Documentation Index</a>
                <a class="dropdown-item" href="/documentation/concepts/">Concepts</a>
                <a class="dropdown-item" href="/documentation/plugins/">Plugin Interfaces</a>
                <a class="dropdown-item" href="/documentation/planners/">Planners</a>
                <a class="dropdown-item" href="/documentation/faqs/">FAQ</a>
                <a class="dropdown-item" href="/code-api/">Code API</a>
              </div>
          </li>
          <a class="button" href="/install">INSTALL NOW</a>
        </ul>
      </div>
    </nav>
  </div>
</div>
