<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a  class='navbar-brand' href="/">
          <img alt="Brand" class='brand-logo' src="/assets/images/moveit_logo_nav_bar.png">
      </a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">

        <!-- Section -->
        <li><a href="/">Home <span class="sr-only">(current)</span></a></li>

        <!-- Section -->
        <li class="dropdown">
          <a href="/install" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                Install <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="/install">Users: Binary</a></li>
            <li role='separator' class='divider'>
            <li><a href="/install/source">Developers: Source</a></li>
            <li role='separator' class='divider'>
            <li><a href="/install/docker">Docker</a></li>
          </ul>
        </li>

        <!-- Section -->
        <li class="dropdown">
          <a href="/documentation/" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                Documentation <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="/documentation/">Documentation Index</a></li>
            <li role='separator' class='divider'>
            <li><a href="/documentation/concepts/">Concepts</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="/documentation/plugins/">Plugin Interfaces</a></li>
            <li role='separator' class='divider'>
            <li><a href="/documentation/planners/">Planners</a></li>
            <li role='separator' class='divider'>
            <li><a href="/documentation/faqs/">FAQ</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="/code-api/">Code API</a></li>
          </ul>
        </li>

        <!-- Section -->
        <li><a href="http://docs.ros.org/kinetic/api/moveit_tutorials/html/">Tutorials</a></li>

        <!-- Section -->
        <li><a href="/robots/">Robots</a></li>

        <!-- Section -->
        <li class="dropdown">
          <a href="/about/" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                About <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="/about/">About</a></li>
            <li role='separator' class='divider'>
            <li><a href="/about/source_code/">Source Code</a></li>
            <li role='separator' class='divider'>
            <li><a href="/about/moveit-status/">Status</a></li>
          </ul>
        </li>

        <!-- Section -->
        <li><a href="/support/">Support</a></li>

        <!-- Section -->
        <li class="dropdown">
          <a href="/documentation/contributing" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                Contribute <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="/documentation/contributing/">Contributing</a></li>
            <li role='separator' class='divider'>
            <li><a href="/documentation/contributing/pullrequests/">Handling Contributions</a></li>
            <li role='separator' class='divider'>
            <li><a href="/documentation/contributing/code/">Style Guidelines</a></li>
          </ul>
        </li>

        <!-- Section -->
        <li><a href="/blog/">Blog</a></li>

      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
