<div class="header">
  <div class="github">
    <img alt="Github logo" src="/assets/images/github.svg">
  </div>
  <div class="container container-navigation">
    <nav class="navbar navbar-expand-xl navbar-blog">
      <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <a class='navbar-brand' href="/">
            <img alt="Brand" class='brand-logo' src="/assets/images/logo/logo@2x.png">
          </a>
          <ul class="navbar-nav">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="/install" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Install
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                  <a class="dropdown-item" href="/install">Users: Binary</a>
                  <a class="dropdown-item" href="/install/source">Developers: Source</a>
                  <a class="dropdown-item" href="/install/docker">Docker</a>
                </div>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="/documentation/" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Docs
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                  <a class="dropdown-item" target="_blank" href="http://docs.ros.org/kinetic/api/moveit_tutorials/html/">Tutorials</a>
                  <a class="dropdown-item" href="/documentation/">Documentation Index</a>
                  <a class="dropdown-item" href="/documentation/concepts/">Concepts</a>
                  <a class="dropdown-item" href="/documentation/plugins/">Plugin Interfaces</a>
                  <a class="dropdown-item" href="/documentation/planners/">Planners</a>
                  <a class="dropdown-item" href="/documentation/faqs/">FAQ</a>
                  <a class="dropdown-item" href="/code-api/">Code API</a>
                </div>
            </li>
            <li class="nav-item">
              <a class="nav-link " href="/robots/">Robots</a>
            </li>
            <li class="nav-item">
              <a class="nav-link " href="/blog/">Blog</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="/about/" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                About
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                  <a class="dropdown-item" href="/about/">About</a>
                  <a class="dropdown-item" href="/about/source_code/">Source Code</a>
                  <a class="dropdown-item" href="/about/moveit-status/">Status</a>
                </div>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="/documentation/contributing" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Contribute
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                  <a class="dropdown-item" href="/documentation/contributing/">Contributing</a>
                  <a class="dropdown-item" href="/documentation/contributing/pullrequests/">Pull Requests</a>
                  <a class="dropdown-item" href="/documentation/contributing/code/">Style Guidelines</a>
                  <a class="dropdown-item" href="/documentation/contributing/future_projects/">Code Sprints</a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/support/">Support</a>
            </li>
            <a class="button button--install" href="/install">INSTALL NOW</a>
          </ul>
        </div>
      </nav>
    </div>
  </div>
