<div class="container">
  <div class="navigation">
    <div class="logo">
      <a class='navbar-brand' href="/">
        <img alt="Brand" class='brand-logo' src="/assets/images/moveit_logo_nav_bar.png">
      </a>
    </div>
    <ul class="d-none d-lg-block">
      <li class="dropdown">
        <a href="/documentation/" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
          Docs
          <span class="caret"></span>
        </a>
        <ul class="submenu dropdown">
          <li>
            <a href="/documentation/">Documentation Index</a>
          </li>
          <li>
            <a href="/documentation/concepts/">Concepts</a>
          </li>
          <li>
            <a href="/documentation/plugins/">Plugin Interfaces</a>
          </li>
          <li>
            <a href="/documentation/planners/">Planners</a>
          </li>
          <li>
            <a href="/documentation/faqs/">FAQ</a>
          </li>
          <li>
            <a href="/code-api/">Code API</a>
          </li>
        </ul>
      </li>
      <li>
        <a href="/blog/">Blog</a>
      </li>
      <li class="dropdown">
        <a href="/about/" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
          About
          <span class="caret"></span>
        </a>
        <ul class="submenu dropdown">
          <li>
            <a href="/about/">About</a>
          </li>
          <li>
            <a href="/about/source_code/">Source Code</a>
          </li>
          <li>
            <a href="/about/moveit-status/">Status</a>
          </li>
        </ul>
      </li>
      <li class="dropdown">
        <a href="/documentation/contributing" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
          Contribute
          <span class="caret"></span>
        </a>
        <ul class="submenu dropdown">
          <li>
            <a href="/documentation/contributing/">Contributing</a>
          </li>
          <li>
            <a href="/documentation/contributing/pullrequests/">Pull Requests</a>
          </li>
          <li>
            <a href="/documentation/contributing/code/">Style Guidelines</a>
          </li>
          <li>
            <a href="/documentation/contributing/future_projects/">Code Sprints</a>
          </li>
        </ul>
      </li>
      <li>
        <a href="/support/">Support</a>
      </li>
      <a class="button" href="/">INSTALL NOW</a>
    </ul>
    <div class="d-lg-none toggle-wrapper">
      <div id="toggle-nav">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>
  </div>
</div>
