<div class="rectangle-boarder-tall col-3 col-sm-3">
  <div class="version-header">
    Pull Requests
  </div>
  <a href="/documentation/contributing/pullrequests">
    {% if page.url == "/documentation/contributing/pullrequests/" %}
    <div class="row no-gutters">
      <img src="/assets/install_page/current_page_left.png" class="current-page-image-left">
      <img src="/assets/install_page/current_page_right.png" class="current-page-image-right">
      <div class="font-current-page">
        {% else %}
        <div>
          <div class="row font-other-page">
            {% endif %}
            Contributing Pull Requests
          </div>
        </div>
  </a>
  <a href="/documentation/contributing/maintainer_pr">
    {% if page.url == "/documentation/contributing/maintainer_pr/" %}
    <div class="row no-gutters">
      <img src="/assets/install_page/current_page_left.png" class="current-page-image-left">
      <img src="/assets/install_page/current_page_right.png" class="current-page-image-right">
      <div class="font-current-page">
        {% else %}
        <div>
          <div class="row font-other-page">
            {% endif %}
            Maintainer Policy
          </div>
        </div>
  </a>
  <a href="/documentation/contributing/releases/">
    {% if page.url == "/documentation/contributing/releases/" %}
    <div class="row no-gutters">
      <img src="/assets/install_page/current_page_left.png" class="current-page-image-left">
      <img src="/assets/install_page/current_page_right.png" class="current-page-image-right">
      <div class="font-current-page">
        {% else %}
        <div>
          <div class="row font-other-page">
            {% endif %}
            Releases
          </div>
        </div>
  </a>
  <a href="/documentation/contributing/code/">
    {% if page.url == "/documentation/contributing/code/" %}
    <div class="row no-gutters">
      <img src="/assets/install_page/current_page_left.png" class="current-page-image-left">
      <img src="/assets/install_page/current_page_right.png" class="current-page-image-right">
      <div class="font-current-page">
        {% else %}
        <div>
          <div class="row font-other-page">
            {% endif %}
            Code Style
          </div>
        </div>
  </a>
  <a href="https://github.com/ros-planning/moveit.ros.org/pulls">
    {% if page.url == "https://github.com/ros-planning/moveit.ros.org/pulls" %}
    <div class="row no-gutters">
      <img src="/assets/install_page/current_page_left.png" class="current-page-image-left">
      <img src="/assets/install_page/current_page_right.png" class="current-page-image-right">
      <div class="font-current-page">
        {% else %}
        <div>
          <div class="row font-other-page">
            {% endif %}
            See Pull Requests on GitHub
          </div>
        </div>
  </a>
</div>
