<div class='col-sm-12 time-line-wrappper time-line-wrapper-future'>
  <h3>MoveIt Humble</h3>
  <a class="button button-transparent" href="/documentation/contributing/roadmap/">SEE ROADMAP</a>
  <div class="time-line">
    <div class="time-line--orange" id="time-line--orange-1"></div>
    <div class="time-line--blue" id="time-line--blue-1"></div>
    <div class="time-line--red" id="time-line--red-1"></div>
  </div>
  <div class="time-line-content">
    <div class="time-line--info">
      <p>July 2021</p>
    </div>
    <div class="time-line--info">
      <span class="time-line-box time-line-box--blue"></span>
      <p>
      <strong class="color-blue">Initial Development</strong>
      <small>1 July 2021</small>
      </p>
    </div>
    <div class="time-line--info">
      <span class="time-line-box time-line-box--orange"></span>
      <p>
      <strong class="color-orange">Feature Freeze</strong>
      <small>30 April 2022</small>
      </p>
    </div>
    <div class="time-line--info">
      <span class="time-line-box time-line-box--red"></span>
      <p>
      <strong class="color-red">Official Release</strong>
      <small>31 May 2022</small>
      </p>
    </div>
    <div class="time-line--info">
      <p>May 2022</p>
    </div>
  </div>
</div>
