.blog-single {
  max-width: 300px;
  margin: 0 auto 70px;
}

.blog-align-center {
  display: flex;
  align-items: center;
  @media screen and (max-width: 575px) {
    margin-bottom: 50px;
  }
}

.blog-image-wrapper {
  height: 160px;
  width: 100%;
  position: relative;
  overflow: hidden;
  margin-bottom: 25px;
  border: 1px solid rgba(128, 128, 128, 0.1);
  &.real-image {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }

  img,
  iframe {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    width: 80%;
  }

  &-main {
    height: 320px;
    margin-bottom: 60px;
    img,
    iframe {
      @media screen and (max-width: 768px) {
        top: auto;
        left: 50%;
        transform: translateX(-50%);
        -webkit-transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        -o-transform: translateX(-50%);
      }
    }
  }
}

.blog-date {
  opacity: 0.5;
  color: #3c4a69;
  font-size: 14px;
  line-height: 50px;
  padding-left: 30px;
  position: relative;
  text-transform: uppercase;
  &:before {
    content: '';
    width: 22px;
    height: 1px;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    background-color: #3c4a69;
    font-size: 14px;
  }
}

.blog-text-wrapper {
  h3 {
    font-size: 17px;
    margin-bottom: 15px;
    line-height: 1.4;
  }
  p {
    line-height: 24px;
    color: $dark-text;
  }
}

.block-with-image {
  padding: 100px 0;
  align-items: center;
  @media screen and (max-width: 992px) {
    padding-top: 0;
  }
  .text-block {
    max-width: 500px;
    @media screen and (max-width: 768px) {
      max-width: none;
    }
  }
  .text-block--left {
    padding-right: 30px;
    @media screen and (max-width: 768px) {
      padding-right: 0;
      padding-bottom: 30px;
    }
  }
  .text-block--right {
    padding-left: 30px;
    @media screen and (max-width: 768px) {
      padding-left: 0;
      padding-top: 30px;
    }
  }

  h3 {
    font-size: 36px;
    font-weight: bold;
    color: #fff;
    margin-bottom: 20px;
  }

  p {
    line-height: 1.8;
    font-size: 18px;
    color: #cdcdcd;
  }
}

.application-categories {
  display: block;
  font-size: 12px;
  font-weight: bold;
  color: #007bff;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.companies-using-moveit-logos {
  opacity: 1;
  vertical-align: middle;
  transition: filter 0.5s ease-in-out;
  transition: opacity 0.5s ease-in-out;
  -moz-transition: opacity 0.5s ease-in-out;
  -webkit-transition: opacity 0.25s ease-in-out;
  filter: grayscale(100%);
  width: 180px;
  margin: 32px 40px 0;
}

.blue-circle {
  &::after {
    content: '';
    width: 300px;
    height: 300px;
    border-radius: 300px;
    background-color: rgb(22, 32, 53);
    right: -30px;
    position: absolute;
    z-index: -1;
    top: 50%;
    transform: translateY(-50%);
    box-shadow: 0px 0px 20px 20px rgb(22, 32, 53);
    @media screen and (max-width: 992px) {
      content: none;
    }
  }

  &.blue-circle--left {
    &::after {
      left: -30px;
      right: auto;
    }
  }

  &.blue-circle--center {
    &::after {
      left: 50%;
      right: auto;
      transform: translate(-50%, -50%);
    }
  }
}

.section {
  .get-involved-box {
    display: flex;
    flex-wrap: wrap;
    border: 1px solid rgba(151, 151, 151, 0.4);
    border-radius: 4px;
    margin: 55px auto;

    @media screen and (max-width: 992px) {
      flex-direction: column;
    }

    h3 {
      font-size: 25px;
      font-weight: bold;
      margin-bottom: 40px;
      margin-top: 36px;
    }

    p {
      margin: 24px auto;
      padding: 0 40px;

      @media screen and (max-width: 479px) {
        padding: 0 15px;
      }
    }

    &__left {
      flex: 0 0 50%;
      max-width: 50%;
      text-align: center;
      padding: 0 40px 60px;
      background-color: #fff;

      @media screen and (max-width: 992px) {
        flex: 0 0 100%;
        max-width: 100%;
      }

      @media screen and (max-width: 479px) {
        padding: 0 15px 60px;
      }

      img {
        max-width: 272px;

        @media screen and (max-width: 479px) {
          max-width: 220px;
        }
      }
    }

    &__right {
      flex: 0 0 50%;
      max-width: 50%;
      text-align: center;
      background: radial-gradient(circle, #1f212e 0%, #15161b 100%);
      color: #fff;
      padding: 0 40px;

      @media screen and (max-width: 992px) {
        flex: 0 0 100%;
        max-width: 100%;
      }

      @media screen and (max-width: 479px) {
        padding: 0 15px 15px;
      }

      ul {
        padding: 0;
        list-style: none;
        text-align: left;

        li {
          padding-left: 50px;
          position: relative;
          margin-bottom: 45px;

          &::after {
            content: '';
            width: 15px;
            height: 15px;
            border-radius: 15px;
            background-color: #162035;
            position: absolute;
            z-index: 1;
            top: 50%;
            left: 11px;
            top: 5px;
            box-shadow: 0px 0px 15px 15px #162035;
          }

          strong {
            font-size: 19px;
          }

          span {
            position: absolute;
            font-size: 18px;
            left: 14px;
            color: #007bff;
            z-index: 2;
          }

          p {
            margin: 0;
            padding: 0;
            font-size: 16px;
          }
        }
      }
    }
  }

  .get-involved-content {
    padding-bottom: 48px;
    margin-bottom: 48px;
    border-bottom: 1px solid rgba(151, 151, 151, 0.4);
  }

  .get-involved-footer {
    text-align: center;
    margin: 0 auto;
    padding: 0 15px;

    p {
      font-size: 19px;
      font-weight: bold;
      margin-bottom: 24px;
    }
  }
}
