body {
  background: linear-gradient(to top, #1D1F25 0%, #15161B 100%);
  color: $text;
  font-family: $font-family-base;
  &.white {
    background-color: $white;
    color: $dark-text;
  }
}

.container{
  &-blog{
    margin: 40px auto;
  }
  &-navigation{
    @media screen and (max-width: 992px){
      max-width: none !important;
    }
  }
}

pre code {
  font-size: 90%;
}

h1, .h1{
  font-size: 40px;
  color: #fff;
  margin-bottom: 40px;
  line-height: 64px;
}

a {
  cursor: pointer;
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
}

p {
  margin-bottom: 10px;
}

img {
  max-width: 100%;
}

.github {
  position: absolute;
  right: 0;
  top: 0;
  width: 80px;
  height: 80px;
  background: linear-gradient(45deg, transparent 50%, $white 50%);
  z-index: 1;
  @media screen and (max-width: 992px){
    width: 91px;
    height: 91px;
  }
  img {
    width: 40px;
    position: absolute;
    transform: rotate(45deg);
    top: 10px;
    left: 35px;
  }
}
