body {
  background-color: $white;
  color: $dark-text;
  font-family: $font-family-base;
  &.black {
    background: linear-gradient(to top, #1d1f25 0%, #15161b 100%);
    color: $text;
    h1 {
      color: $white;
    }
  }
}

.container {
  &-blog {
    margin: 40px auto;
  }
  &-navigation {
    @media screen and (max-width: 992px) {
      max-width: none !important;
    }
  }
  &-footer {
    @media screen and (max-width: 768px) {
      max-width: 100%;
    }
  }
}
pre {
  &.highlight {
    display: block;
    padding: 9.5px;
    margin: 0 0 10px;
    font-size: 13px;
    line-height: 1.42857143;
    color: #333;
    word-break: break-all;
    word-wrap: break-word;
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  code {
    font-size: 90%;
    padding: 0;
    font-size: inherit;
    color: inherit;
    white-space: pre-wrap;
    background-color: transparent;
    border-radius: 0;
  }
}

h1,
.h1 {
  font-size: 40px;
  margin-bottom: 40px;
  line-height: 64px;
}

a {
  cursor: pointer;
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
}

p {
  margin-bottom: 10px;
  &.dark-text {
    color: $dark-text;
  }
}

.color-blue {
  color: $blue;
}

img {
  max-width: 100%;
}

.sub-pages {
  h2 {
    margin-top: 40px;
    margin-bottom: 15px;
  }
  h3 {
    margin-bottom: 13px;
    margin-top: 25px;
    font-size: 18px;
    font-weight: 800;
  }
}

.rss-feed{
  display: block;
  margin: 0 auto;
  img{
    max-width: 100%;
    width: 48px;
  }
}

.github {
  position: absolute;
  right: 0;
  top: 0;
  width: 80px;
  height: 80px;
  background: linear-gradient(45deg, transparent 50%, $white 50%);
  z-index: 1;
}

.github-corner {
  &:hover {
    .octo-arm {
      animation: octocat-wave 560ms ease-in-out infinite;
    }
  }
}

@keyframes octocat-wave {
  0%,
  100% {
    transform: rotate(0);
  }
  20%,
  60% {
    transform: rotate(-25deg);
  }
  40%,
  80% {
    transform: rotate(10deg);
  }
}
