body {
  background-color: $white;
  color: $dark-text;
  font-family: $font-family-base;
  &.black {
    background: linear-gradient(to top, #1D1F25 0%, #15161B 100%);
    color: $text;
    h1 {
      color: $white;
    }
  }
}

.container{
  &-blog{
    margin: 40px auto;
  }
  &-navigation{
    @media screen and (max-width: 992px){
      max-width: none !important;
    }
  }
  &-footer{
    @media screen and (max-width: 768px){
      max-width: 100%;
    }
  }
}

pre code {
  font-size: 90%;
}

h1, .h1{
  font-size: 40px;
  margin-bottom: 40px;
  line-height: 64px;
}

a {
  cursor: pointer;
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
}

p {
  margin-bottom: 10px;
  &.dark-text{
    color: $dark-text;
  }
}

img {
  max-width: 100%;
}

.github {
  position: absolute;
  right: 0;
  top: 0;
  width: 80px;
  height: 80px;
  background: linear-gradient(45deg, transparent 50%, $white 50%);
  z-index: 1;
}


.github-corner{
  &:hover{
    .octo-arm{
      animation: octocat-wave 560ms ease-in-out infinite;
    }
  }
}

@keyframes octocat-wave{
  0%,100%{transform:rotate(0)}
  20%,60%{transform:rotate(-25deg)}
  40%,80%{transform:rotate(10deg)}
}
