footer {
  background: radial-gradient(circle, #1d1f25 0%, #15161b 100%);
  padding: 60px 0;
  @media screen and (max-width: 575px){
    text-align: center;
  }

  .footer-logo {
    width: 155px;
    margin-bottom: 18px;
  }

  h4 {
    font-size: 12px;
    color: rgba(255, 255, 255, 0.4);
    margin-bottom: 20px;
    @media screen and (max-width: 575px){
      margin-top: 50px;
    }
  }

  ul {
    padding: 0;
    li {
      list-style: none;
      padding: 6px 0;
      a {
        color: $white;
        font-size: 12;
      }
    }
  }

  .button {
    margin-top: 50px;
    @media screen and (max-width: 575px){
      margin-top: 20px;
      margin-bottom: 50px;
    }
  }
}
