.homepage {
  &-main-wrapper {
    @media screen and (max-width: 1440px) {
      overflow-x: hidden;
    }
  }

  .main {
    margin-bottom: 200px;
    @media screen and (max-width: 992px) {
      max-width: 80%;
      margin: 0 auto 100px;
      text-align: center;
    }

    &-tag {
      width: 87%;
      @media screen and (max-width: 1199px) {
        width: 100%;
      }

      a {
        position: relative;
        display: block;
        background-color: #27282e;
        color: #fff;
        border-radius: 16px;
        font-size: 12px;
        padding: 2px;
        margin-bottom: 20px;
        text-align: left;
        overflow: hidden;
        @media screen and (max-width: 1199px) {
          text-align: center;
        }
        @media screen and (max-width: 992px) {
          text-align: left;
        }
        @media screen and (max-width: 520px) {
          text-align: center;
        }

        &:before {
          content: '';
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          background-color: #0a58f7;
          transform: translateX(-100%);
          transition: .5s ease-in-out;
          z-index: 1;
        }

        &:hover {
          color: #fff;

          &:before {
            transform: translateX(0);
          }
        }

        span {
          z-index: 2;
          position: relative;
          display: inline-block;
          margin-left: 5px;
          border-radius: 16px;
          @media screen and (max-width: 1199px) {
            margin: 5px;
          }
          @media screen and (max-width: 992px) {
            margin: 0 0 0 5px;
          }
          @media screen and (max-width: 520px) {
            margin: 5px;
          }

          &.blue {
            background-color: #0a58f7;
            margin-right: 5px;
            padding: 0 10px;
            margin-left: 0;
          }
        }
      }
    }

    &-text {
      margin-bottom: 70px;
      font-size: 17px;
      line-height: 32px;
    }
  }

  .info-box {
    position: relative;
    margin-bottom: 250px;
    @media screen and (max-width: 992px) {
      margin: 0 auto 250px;
      display: flex;
      justify-content: space-around;
    }
    @media screen and (max-width: 768px) {
      margin-bottom: 100px;
    }

    .robot-hand {
      width: 700px;
      max-width: none;
      @media screen and (max-width: 992px) {
        position: absolute;
        width: 500px;
        z-index: -1;
      }
      @media screen and (max-width: 520px) {
        left: 5px;
      }
    }

    &-content {
      position: absolute;
      background: #fff;
      padding: 15px 100px;
      text-align: center;
      bottom: -70px;
      left: -100px;
      border-radius: 4px;
      box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.2);
      @media screen and (max-width: 992px) {
        position: static;
        margin-top: 238px;
      }
      @media screen and (max-width: 520px) {
        padding: 15px 60px;
      }
    }

    &-header {
      font-size: 18px;
      color: #1a1b21;
      margin: 20px auto;
    }

    &-version {
      font-size: 14px;
      color: rgba(27, 28, 34, 0.6);
      margin-bottom: 15px;
    }

    &-logo {
      max-width: 90px;
    }

    .link-group {
      font-size: 14px;
      color: #191a1f;
      margin-bottom: 20px;

      a {
        color: #191a1f;
        padding: 0 5px;

        &:hover {
          color: #007bff;
        }
      }
    }
  }
}

.homepage--divider {
  .homepage--divider-image {
    background-image: url('/assets/images/background.jpg');
    width: 100%;
    width: 100%;
    height: 180px;
    background-size: cover;
  }

  .homepage--divider--content {
    background-color: #333439;
  }

  .time-line-wrappper {
    @media screen and (max-width: 992px) {
      display: none;
    }
  }

  h2 {
    padding-top: 150px;
    color: $white;
    @media screen and (max-width: 992px) {
      padding-top: 50px;
    }
  }

  h3 {
    color: $white;
  }

  .time-line {
    display: flex;
    position: relative;
    width: 100%;
    border-radius: 4px;
    height: 24px;
    margin: 20px auto;
    background-color: rgba(255, 255, 255, 0.1);
  }

  .time-line--red {
    display: none;
    border-radius: 4px;
    width: 100%;
    background-color: #f70a0a;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
    height: 24px;
  }

  .time-line--blue {
    background-color: #0a58f7;
    border-radius: 4px 0 0 4px;
    width: 0;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    height: 24px;
  }

  .time-line--orange {
    border-radius: 4px 0 0 4px;
    width: 0;
    background-color: #f7a20a;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    height: 24px;
  }

  .time-line-content {
    display: flex;
    width: 100%;
    margin-bottom: 60px;
  }

  .time-line--info {
    margin-right: 50px;
    display: flex;

    &:last-child {
      margin-right: 0;
      flex: 1;
      justify-content: flex-end;
    }

    small {
      display: block;
    }
  }

  .time-line-box {
    height: 16px;
    width: 16px;
    border-radius: 4px;
    margin-right: 11px;
    position: relative;
    top: 5px;
  }

  .time-line-box--blue {
    background-color: #0a58f7;
  }

  .time-line-box--red {
    background-color: #f70a0a;
  }

  .time-line-box--orange {
    background-color: #f7a20a;
  }

  .version-wrapper {
    margin-bottom: 70px;
  }

  .version-header {
    display: flex;

    h3 {
      font-size: 40px;
      color: $white;
      display: inline-block;
      margin-right: 16px;
    }

    .label {
      border-radius: 16px;
      color: rgba(255, 255, 255, 0.8);
      font-size: 12px;
      padding: 2px 12px;
      align-self: center;
      text-transform: uppercase;
    }

    .label--blue {
      background-color: #0a58f7;
    }

    .label--red {
      background-color: #f70a0a;
    }

    .label--orange {
      background-color: #f7a20a;
    }

    .label--green {
      background-color: #0af74d;
      color: rgba(0, 0, 0, 0.8);
    }
  }

  .version-date {
    margin-bottom: 20px;

    p {
      margin-bottom: 0;

      span {
        color: $white;
      }
    }
  }

  .version-content {
    max-width: 340px;

    h4 {
      color: $white;
      font-size: 17px;
      font-weight: bold;
      line-height: 21px;
    }

    p {
      font-size: 17px;
      line-height: 32px;
    }
  }
}
