.rectangle-boarder-tall {
  padding-top: 70px;
  border: solid 1px #eaeaea;
}

.ros-command {
  height: 24px;
  padding: 5px;
  color: rgba(232, 62, 140, 1.0);
  border-radius: 4px;
  background-color: rgba(232, 62, 140, 0.1);
}

.current-page-image-left {
  width: 100% !important;
  height: 32px;
  position: relative;
}
.current-page-image-right {
  height: 32px;
  left: 100%;
  position: absolute;
}

.bash-command {
  code {
    font-size: 12px;
    font-weight: normal;
    color: #191a20;
  }
  pre {
    font-size: 12px;
    font-weight: normal;
    color: #191a20;
  }
  border-radius: 4px;
  border: solid 1px #d6d8de;
  background-color: #f3f5fa;
  margin-top: 16px;
  margin-bottom: 32px;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 16px;
}

.link-with-background {
  font-family: Lato;
  font-size: 13px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.86px;
  text-align: center;
  color: #ffffff;
  padding-top: 13px;
  padding-bottom: 10px;
  padding-left: 16px;
  padding-right: 16px;
  border-radius: 4px;
  border: solid 1px #0a58f7;
  background-color: #0a58f7;
  display: inline-block;
  margin-top: 16px;
  margin-bottom: 16px;
}

.rectangle-boarder-big {
  @media screen and (max-width: 992px) {
    padding: 40px !important;
    .horizontal-line {
      margin-left: -40px;
      margin-right: -40px;
      margin-top: 32px;
      margin-bottom: 32px;
    }
  }
  @media screen and (max-width: 720px) {
    padding: 20px !important;
    .horizontal-line {
      margin-left: -20px;
      margin-right: -20px;
      margin-top: 32px;
      margin-bottom: 32px;
    }
  }
  @media screen and (max-width: 480px) {
    padding: 10px !important;
    .horizontal-line {
      margin-left: -10px;
      margin-right: -10px;
      margin-top: 32px;
      margin-bottom: 32px;
    }
  }
  padding-top: 70px;
  padding-bottom: 70px;
  padding-left: 117px !important;
  padding-right: 84px !important;
  border: solid 1px #eaeaea;
  .docker-img {
    margin: auto;
    display: block;
  }
  h1 {
    margin-bottom: 24px;
    font-family: Lato;
    font-size: 40px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1;
    letter-spacing: normal;
    color: #191a20;
    img {
      padding-bottom: 10px;
      vertical-align: middle;
    }
  }
  h2 {
    font-family: Lato;
    font-size: 24px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
    color: #191a20;
    img {
      padding-bottom: 5px;
      vertical-align: middle;
      height: 27px;
    }
  }
  h3 {
    font-family: Lato;
    font-size: 16px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    color: #191a20;
    img {
       vertical-align: baseline;
       height: 12px;
       padding-left: 2px;
    }
  }
  h4 {
    font-family: Lato;
    font-size: 16px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    color: #191a20;
    img {
       vertical-align: center;
       height: 20px;
       padding-left: 2px;
       padding-bottom: 5px;
    }
  }
  p {
    font-family: Lato;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    color: rgba(25, 26, 32, 0.8);
  }
}

.font-current-page {
  position: absolute;
  padding-top: 4px;
  padding-bottom: 4px;
  margin-left: 16px;
  font-family: Lato;
  font-size: 14px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.71;
  letter-spacing: normal;
  color: rgba(10, 88, 247, 1);
}

.font-other-page {
  padding-top: 4px;
  padding-bottom: 4px;
  margin-left: 16px;
  font-family: Lato;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.71;
  letter-spacing: normal;
  color: rgba(71, 72, 77, 1);
}

.horizontal-line {
  border-bottom: solid 1px #eaeaea;
  margin-left: -117px;
  margin-right: -84px;
  margin-top: 32px;
  margin-bottom: 32px;
}

.systems-rectangle {
  margin-left: 0px;
  margin-top: 24px;
  margin-bottom: 40px;
  border-radius: 8px;
  border: solid 1px #eaeaea;
  img {
    height: 20px;
    width: 20px;
  }
  .system-type {
      padding-left: 10px;
      font-family: Lato;
      font-size: 13px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.15;
      letter-spacing: normal;
      color: #5e616d;
      .system-name {
        font-size: 16px;
        font-weight: bold;
      }
    }
    .btn-primary {
      border-style: none;
      outline: none;
      padding-top: 20px;
      padding-bottom: 14px;
      padding-left: 18px;
      padding-right: 18px;
      margin-right: 14px;
      border-radius: 8px;
      background-color: #ffffff;
    }
    .btn-primary:focus, .btn-primary:active, .btn-primary.active, .btn-primary:hover {
      background-color: #d9e5fd !important;
      box-shadow: none;
      .system-type {
        color: #0e5af7;
      }
    }
}

.install-card-wrapper {
  display: flex;
  justify-content: space-between;
  position: relative;
  flex-wrap: wrap;
}

.install-card-single {
  margin-left: -30px;
  flex: 0 0 49%;
  max-width: 49%;
  @media screen and (max-width: 992px) {
    max-width: 100%;
    flex: 0 0 100%;
  }
}
