.navbar {
  padding: 70px 10px 70px 0;
  &-blog {
    padding: 10px 0;
    ul {
      margin-right: 15px;
    }
  }
  @media screen and (max-width: 1199px) {
    padding: 25px 10px;
  }
  .navbar-collapse {
    @media screen and (max-width: 992px) {
      padding-top: 20px;
    }
    .navbar-brand {
      img {
        width: 155px;
        max-width: 100%;
      }
    }
  }
  .navbar-toggler {
    &:hover,
    &:focus {
      outline: none;
      border: none;
    }
    .icon-bar {
      display: block;
      width: 35px;
      background-color: #ffffff;
      height: 3px;
      border-radius: 1px;
      -webkit-transition: all 0.2s;
      transition: all 0.2s;
      &:nth-of-type(1) {
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
        -webkit-transform-origin: 10% 10%;
        -ms-transform-origin: 10% 10%;
        transform-origin: 10% 10%;
      }
      &:nth-of-type(2) {
        opacity: 0;
        filter: alpha(opacity=0);
      }
      &:nth-of-type(3) {
        -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        transform: rotate(-45deg);
        -webkit-transform-origin: 10% 90%;
        -ms-transform-origin: 10% 90%;
        transform-origin: 10% 90%;
      }
      & + .icon-bar {
        margin-top: 7px;
      }
    }
    &.collapsed {
      .icon-bar {
        &:nth-of-type(1) {
          -webkit-transform: rotate(0);
          -ms-transform: rotate(0);
          transform: rotate(0);
        }
        &:nth-of-type(2) {
          opacity: 1;
          filter: alpha(opacity=100);
        }
        &:nth-of-type(3) {
          -webkit-transform: rotate(0);
          -ms-transform: rotate(0);
          transform: rotate(0);
        }
      }
    }
  }

  ul {
    padding: 0;
    flex: 4;
    justify-content: flex-end;
    li {
      list-style: none;
      display: inline-block;
      margin: 10px;
      a {
        list-style: none;
        padding: 10px;
        font-size: 14px;
        color: rgba(255, 255, 255, 0.4);
        text-transform: uppercase;
        letter-spacing: 1px;
        &:hover {
          color: #fff;
        }
      }
    }
  }
  .dropdown-menu {
    background-color: #333439;
    padding: 0;
    .dropdown-item {
      text-transform: none;
      border: 1px solid rgba(0, 0, 0, 0.1);
      &:hover {
        background-color: #333439;
        color: #fff;
      }
      &:last-child {
        border: none;
      }
    }
  }
  .button {
    align-self: center;
  }
}
