.navigation {
  display: flex;
  justify-content: space-between;
  padding: 70px 10px 70px 0;

  .logo {
    flex: 1;
  }

  ul {
    padding: 0;
    flex: 4;
    text-align: right;
    li {
      list-style: none;
      display: inline-block;
      margin: 10px;
      a {
        list-style: none;
        padding: 10px;
        font-size: 14px;
        color: rgba(255,255,255,0.4);
        text-transform: uppercase;
        letter-spacing: 1px;
      }
    }
    &.submenu {
      display: none;
    }
  }
}

#toggle-nav {
  width: 50px;
  height: 50px;
  position: relative;
  transition: .5s ease-in-out;
  cursor: pointer;
  position: relative;
  span {
    transition: .25s ease-in-out;
    display: block;
    position: absolute;
    height: 9px;
    width: 100%;
    background: $blue;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    &::before,
    &::after {
      content: "";
      position: absolute;
      width: 5px;
      height: 5px;
      background:$white;
      left: 2px;
      top: 2px;
      display: block;
      border-radius: 50px;
      z-index: 4444444;
    }
    &::after {
      left: auto;
      right: 2px;
    }
    &:nth-child(1) {
      top: 0px;
      transform-origin: left center;
    }
    &:nth-child(2) {
      top: 18px;
      transform-origin: left center;
    }
    &:nth-child(3) {
      top: 36px;
      transform-origin: left center;
    }
    &.open {
      span {
        &:nth-child(1) {
          transform: rotate(35deg);
          top: -16px;
          left: 8px;
          width: 45px;
        }
        &:nth-child(2) {
          transform: rotate(-35deg);
          top: 31px;
          left: 8px;
          width: 45px;
        }
        &:nth-child(3) {
          transform: rotate(35deg);
          top: 26px;
          left: 8px;
          width: 45px;
        }
      }
    }
  }
}

.toggle-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  border: 2px solid $blue;
  padding: 15px;
  padding-bottom: 13px;
  background: $white;
}
