.people-page {
  h1 {
    font-family: Lato;
    font-size: 40px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1;
    letter-spacing: normal;
    color: #191a20;
  }
  h2 {
    font-family: Lato;
    font-size: 32px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.25;
    letter-spacing: normal;
    color: #191a20;
  }
  .container-fluid-margin {
    margin-bottom: 80px;
  }
  .main-card-wrapper {
    display: flex;
    justify-content: space-between;
    position: relative;
    flex-wrap: wrap;
  }
  .main-card-single {
    margin-left: -30px;
    flex: 0 0 50%;
    max-width: 50%;
    @media screen and (max-width: 1000px) {
      flex: 0 0 100%;
      max-width: 100%;
    }
    .quote-img {
      padding-top: 48px;
      padding-bottom: 12px;
    }
  }
  .sponsors-card-single {
    margin-left: -30px;
    margin-bottom: 24px;
    flex: 0 0 30.333333%;
    max-width: 30.333333%;
    text-align: left;
    margin-right: 60px;
    @media screen and (max-width: 1200px) {
      max-width: 45%;
      flex: 0 0 45%;
      margin-right: 40px;
    }
    @media screen and (max-width: 900px) {
      max-width: 100%;
      flex: 0 0 100%;
      margin-right: 0;
    }
    img {
      margin-left: 0px !important;
      margin-bottom: 24px;
      height: 56px;
      max-width: 100%;
    }
  }
  .history-card-wrapper {
    display: flex;
    justify-content: space-between;
    position: relative;
    flex-wrap: wrap-reverse;
  }
  .history-card-single {
    margin-left: -30px;
    flex: 0 0 70%;
    max-width: 70%;
    @media screen and (max-width: 1000px) {
      flex: 0 0 100%;
      max-width: 100%;
    }
    ul {
      list-style-position: inside;
      padding-left: 0px;
    }
  }
  .history-card-single-img {
    margin-left: -30px;
    flex: 0 0 30%;
    @media screen and (max-width: 1000px) {
      flex: 0 0 100%;
      max-width: 100%;
      margin-bottom: 10px;
    }
  }
  .main-card-single-small {
    margin-left: -30px;
    padding-bottom: 30px;
    flex: 0 0 50%;
    max-width: 50%;
    @media screen and (max-width: 450px) {
      flex: 0 0 100%;
      max-width: 100%;
    }
    .person-name {
      font-size: 16px;
      font-weight: bold;
      color: rgba(25, 26, 32, 0.9);
    }
    .organization-name {
      font-family: Lato;
      font-size: 14px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.43;
      letter-spacing: normal;
      color: rgba(25, 26, 32, 0.7);
    }
    img {
      height: 13px;
      vertical-align: baseline;
    }
  }
  .alumni-card-single {
    margin-left: -30px;
    padding-bottom: 30px;
    flex: 0 0 25%;
    max-width: 25%;
    @media screen and (max-width: 480px) {
      flex: 0 0 50%;
      max-width: 50%;
    }
    .person-name {
      font-size: 16px;
      font-weight: bold;
      color: rgba(25, 26, 32, 0.9);
    }
    .organization-name {
      font-family: Lato;
      font-size: 14px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.43;
      letter-spacing: normal;
      color: rgba(25, 26, 32, 0.7);
    }
    img {
      height: 13px;
      vertical-align: baseline;
    }
  }
  .main-card-single-padding {
      margin-right: 30px;
      padding-left: 30px;
      padding-right: 30px;
      padding-bottom: 30px;
  }
  .main-card-single-center {
    text-align: center;
  }
  .boarder {
    border: solid 1px rgba(151, 151, 151, 0.2);
  }
  .horizontal-line {
    border-bottom: solid 1px #eaeaea;
    margin-left: -30px;
    margin-right: -30px;
  }
}
