.robots{
  .robots-main{
    margin-bottom: 50px;
    &--bottom{
      margin-bottom: 50px;
      p{
        margin-top: 50px;
      }
    }
  }
  .robots-single{
    margin-bottom: 100px;
  }
  .robots-image-wrapper{
    height: 210px;
    width: 100%;
    position: relative;
    overflow: hidden;
    margin-bottom: 25px;
    img{
      width: 100%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      -webkit-transform: translate(-50%, -50%);
      -moz-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      -o-transform: translate(-50%, -50%);
    }
  }
  .robots-content{
    h2{
      font-size: 24px;
      color: $robots-black;
      margin: 0;
    }
    h3{
      font-size: 18px;
      color: $robots-gray;
      margin: 0 0 20px;
      min-height: 21px;
    }
    a{
      font-size: 16px;
    }
  }
}
