.robots {
  .robots-main {
    margin-bottom: 50px;
    &--bottom {
      margin-bottom: 50px;
      p {
        margin-top: 50px;
      }
    }
  }
  .robots-single {
    margin-bottom: 100px;
  }
  .robots-image-wrapper {
    height: 210px;
    width: 100%;
    position: relative;
    overflow: hidden;
    margin-bottom: 25px;
    border: 1px solid rgba(128, 128, 128, 0.1);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }
  .robots-content {
    h2 {
      font-size: 24px;
      color: $robots-black;
      margin: 0;
    }
    h3 {
      font-size: 18px;
      color: $robots-gray;
      margin: 0 0 20px;
      min-height: 21px;
    }
    a {
      font-size: 16px;
    }
  }

  .robots-info {
    background-color: #eef9fd;
    border-left: 5px solid #4cb3d4;
    border-radius: 6px;
    padding: 16px;
    margin: 16px auto;
    color: #193c47;
    font-size: 16px;

    .robots-info-header {
      text-transform: uppercase;
      margin-bottom: 10px;
      display: flex;
      align-items: center;
      gap: 5px;
      font-size: 14px;
      font-weight: 600;

      img {
        width: 22px;
      }
    }

    .button {
      text-transform: uppercase;

      &:hover {
        background-color: transparent;
      }
    }
  }
}
