.section {
  margin: 50px auto 100px;
}
.section--second {
  margin-bottom: 20px;
  ul {
    padding: 0;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
    @media screen and (max-width: 480px) {
      justify-content: center;
    }
    li {
      list-style: none;
      flex: 0 0 33%;
      max-width: 33%;
      position: relative;
      width: 100%;
      min-height: 1px;
      padding-right: 15px;
      padding-left: 15px;
      margin-bottom: 80px;
      text-align: center;
      @media screen and (max-width: 768px) {
        flex: 0 0 50%;
        max-width: 50%;
      }
      @media screen and (max-width: 480px) {
        flex: 0 0 100%;
        max-width: 300px;
      }
      span {
        display: block;
        height: 60px;
        width: 60px;
        border-radius: 60px;
        margin: 0 auto 50px;
        position: relative;
        box-shadow: 0px 0px 20px 20px rgba(39, 107, 254, 0.21);
        background-color: rgba(39, 107, 254, 0.21);
      }
      img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
      }
      h3 {
        font-size: 19px;
        color: #ffffff;
        font-family: Inter;
      }
      p {
        font-size: 16px;
        letter-spacing: 0;
        line-height: 23px;
        color: rgba(255, 255, 255, 0.8);
        font-family: Inter;
      }
    }
  }
}

.last-section {
  margin: 100px 0;
  img {
    @media screen and (max-width: 992px) {
      display: none;
    }
  }
}
