.single-post {
  margin: 50px auto;

  .image-wrapper {
    height: 320px;
    width: 100%;
    position: relative;
    overflow: hidden;
    margin-bottom: 25px;

    img, iframe {
      max-width: 100%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      @media screen and (max-width: 768px){
        top: auto;
        left: 50%;
        transform: translateX(-50%);
      }
    }
  }

  h3 {
    font-size: 24px;
    font-weight: bold;
    color: #191A20;
    line-height: 40px;
    margin-bottom: 18px;
  }

  content{
    display: block;
    font-size: 18px;
    margin-bottom: 20px;
  }

  p {
    font-size: 14px;
    margin-bottom: 20px;
  }
}

.other-post {
  margin: 50px auto;
  .other-single {
    margin-bottom: 50px;
    .image-wrapper {
      height: 160px;
      width: 100%;
      position: relative;
      overflow: hidden;
      margin-bottom: 20px;
      border: 1px solid #E7E7E7;

      img, iframe {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }
    .text-wrapper{
      h3{
        font-size: 17px;
        margin-bottom: 15px;
        line-height: 1.4;
      }
      p {
        line-height: 24px;
      }
    }
  }
}
