table {
  width: 100%;
}

.table--distribution {
  font-size: 14px;

  tr {
    th {
      max-width: 200px;
      font-size: 16px;
    }

    &.blue {
      background-color: #0a58f7 !important;
      color: #ffffff;
      a {
        color: #ffffff;
        text-decoration: underline;
      }
    }

    &.orange {
      background-color: #f7a20a !important;
      color: #ffffff;
      a {
        color: #ffffff;
        text-decoration: underline;
      }
    }

    &.green {
      background-color: #18d44d !important;
      color: #ffffff;
      a {
        color: #ffffff;
        text-decoration: underline;
      }
    }

    th,
    td {
      vertical-align: middle;

      &:not(:first-child) {
        text-align: center;
      }
    }
  }
}

.table--moveit-status-update {
  font-size: 12px;

  tr {
    th {
      max-width: 200px;
    }

    th,
    td {
      vertical-align: middle;

      &:not(:first-child) {
        text-align: center;
      }

      &.done {
        font-weight: bold;
        color: #18d44d;
      }

      &.not {
        color: #f70a0a;
      }

      &.dev {
        font-weight: bold;
        color: #f7a20a;
        font-size: 9px;
      }
    }
  }
}
