.social:hover {
     -webkit-transform: scale(1.1);
     -moz-transform: scale(1.1);
     -o-transform: scale(1.1);
 }
 .social {
     -webkit-transform: scale(0.8);
     /* Browser Variations: */

     -moz-transform: scale(0.8);
     -o-transform: scale(0.8);
     -webkit-transition-duration: 0.5s;
     -moz-transition-duration: 0.5s;
     -o-transition-duration: 0.5s;
 }

/*
    Multicoloured Hover Variations
*/

 #social-fb:hover {
     color: #3B5998;
 }
 #social-tw:hover {
     color: #4099FF;
 }
 #social-gp:hover {
     color: #d34836;
 }
 #social-em:hover {
     color: #f39c12;
 }

 #share-page-social-fb:hover {
     color: #3B5998;
 }
 #share-page-social-tw:hover {
     color: #4099FF;
 }
 #share-page-social-gp:hover {
     color: #d34836;
 }
 #share-page-social-em:hover {
     color: #f39c12;
 }

 table {
     width: 100%;
 }

 footer {
     margin-top: 50px;
     background: radial-gradient(circle, #1D1F25 0%, #15161B 100%);
     padding: 60px 0;
 }

 footer h4 {
     font-size: 12px;
     color: rgba(255,255,255,0.4);
     margin-bottom: 20px;
 }

 footer ul{
     padding: 0;
 }

 footer ul li {
     list-style: none;
     padding: 6px 0;
 }

 footer ul li a {
     color: white;
     font-size: 12px;
 }

 footer .button {
     margin-top: 50px;
 }

 /* Other small tweaks */

 pre code {
     font-size: 90%;
 }

 body {
    background-color: #191a21;
    color: #a3a3a6;
    font-family: 'Lato', sans-serif;
 }

 a {
     cursor: pointer;
     text-decoration: none;
 }

 a:hover {
     text-decoration: none;
 }


 a.button {
    padding: 12px 30px;
    text-align: center;
    background-color: #0A58F7;
    border-radius: 4px;
    color: white;
    letter-spacing: 1px;
    font-size: 14px;
    display: inline-block;
    border: 1px solid #0A58F7;
 }

 a.button:hover {
     background-color: white;
     color: #0A58F7;
 }

 p {
     margin-bottom: 10px;
 }

.navigation {
     display: flex;
     justify-content: space-between;
     margin: 70px auto;
}

.navigation .logo {
     flex: 1;
}

.navigation ul {
     padding: 0;
     flex: 4;
     text-align: right;
}

.navigation ul li{
     list-style: none;
     display: inline-block;
     margin: 10px;
}

.navigation ul li a{
     list-style: none;
     padding: 10px;
     font-size: 14px;
     color: rgba(255,255,255,0.4);
     text-transform: uppercase;
     letter-spacing: 1px;
}

.navigation ul.submenu{
     display: none;
}

#toggle-nav {
    width: 60px;
    height: 45px;
    position: relative;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
    position: relative;
}

#toggle-nav span {
  display: block;
  position: absolute;
  height: 9px;
  width: 100%;
  background: #0958f7;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

#toggle-nav span::before{
  content: "";
  position: absolute;
  width: 5px;
  height: 5px;
  background: white;
  left: 2px;
  top: 2px;
  display: block;
  border-radius: 50px;
  z-index: 4444444;
}

#toggle-nav span::after{
  content: "";
  position: absolute;
  width: 5px;
  height: 5px;
  background: white;
  right: 2px;
  top: 2px;
  display: block;
  border-radius: 50px;
  z-index: 4444444;
}


#toggle-nav span:nth-child(1) {
  top: 0px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

#toggle-nav span:nth-child(2) {
  top: 18px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

#toggle-nav span:nth-child(3) {
  top: 36px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

#toggle-nav.open span:nth-child(1) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(35deg);
  top: -3px;
  left: 8px;
  width: 45px;
}

#toggle-nav.open span:nth-child(2) {
  transform: rotate(-35deg);
  top: 44px;
  left: 8px;
  width: 45px;
}

#toggle-nav.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(35deg);
  top: 40px;
  left: 8px;
  width: 45px;
}

.toggle-wrapper {
    position: fixed;
    bottom: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    z-index: 9999;
    border: 2px solid 0958f7;
    padding: 25px 40px;
    padding-bottom: 10px;
    border-radius: 70px;
    background: white;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    border-bottom: 0;
}
