{% include default.html %}

<body>
  {% include nav-bar.html %}
  <div class="container">
    <div class="sub-pages section">
      <div class='row'>
        <div class='col-sm-12'>
          <div class='row no-gutters'>
            {% include install-nav.html %}
            <div class="rectangle-boarder-big col-9 col-sm-9">
              {% include moveit-anchors.html html=content %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
{% include footer.html %}
